
    *{
        margin: 0 auto;
        padding: 0;
    }   

    body{
        background-color: #c3c3c3;
    }

    .max-width {
        max-width: 500px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 10%;
        background-color: #fff;
        box-shadow: 0 0 5px #FFF;
        text-align: center;
    }

    h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 80px;
        margin-top: 20px;
    }

    button {
        background-color: #a1c0d1;
    }

    .bg-green {
        background-color: #b2d1a1;
    }

    .bg-yellow {
        background-color: #d1cba1;
    }

    .bg-red {
        background-color: #d1a1a1;
    }

    .bg-short {
        background-color: #5dd12f;
    }

    .bg-long {
        background-color: #080a72;
    }

    button:hover {
        background-color: rgb(167, 163, 163);

    }

    button:active{
        color:rgb(230, 19, 19)
    }

    /* .form {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;


    } */
